@import 'vars';

$header-background: $dark-color;
$header-color: $light-color;

body {
  font-size: $base-font;

  @media (min-width: 768px) {
    margin: 0 10vw;
    width: 80vw;
  }
}

.App {
  text-align: center;

  &-header {
    background-color: $header-background;
    display: flex;
    color: $header-color;
  }

  &-logo {
    padding: 0.5em;
    max-height: $header-height + 1em;
  }
}
